.port_cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.port_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius:0 0 2rem 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.port_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.port_item_img{
    border-radius:0 0 2rem 2rem;
    overflow: hidden;
}
.port_item_img img{
    height: 18rem;
    
}

.port_item h3{
    margin: 1.2rem 0 2rem;
}
.port_item_cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px){
        .port_cont{
            grid-template-columns: 1fr 1fr;
            gap: 1.2rem;
        }
}

@media screen and (max-width: 600px){
    .port_cont{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}